*.pyc
*.pyo
*.class
*.log
*.bak
*.swp
*.tmp
__pycache__/
MANIFEST
.eggs/
Aglyph.egg-info/
aglyph-*-env/
resources/movielisterapp-*.zip
example/movielisterapp-aglyph.sh
example/movielisterapp-basic.sh
NOTES.txt
build/
dist/
doc/build/
test-versions-variants.*

